@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Fruktur&family=Inter:wght@400;700&family=Irish+Grover&family=Press+Start+2P&family=Roboto:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  margin: 0px;
  padding: 0px;
}
:root {
  --color-white:  #FFFFFF;
  --color-red: #F50D5A;
  --color-orange: #FF865C;
  --color-yellow: #FFEA5C;
  --color-green: #00DA76;
  --color-blue: #0096CE;
  --color-purple: #800FFF;
  --color-text-back:#914D8B;
  --color-line:#60265B;
  --color-back:#2E132C;
  --color-background: #150714;
}
.App {
  background-color: var(--color-back);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

html{
  font-size: 16px;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}

/*Font*/
h1, h2, p, .white-font {
  color: var(--color-white);
}

h1, h2, .register-name, .register-button, .font-press-2p, .user-name {  
  font-family: 'Press Start 2P';
  text-transform: uppercase;
  letter-spacing: 2px; 
}

h1, h2, .register-name {  
  width: 100px;
  line-height:40px; 
  margin: 20px 0;
  /*padding: 4px 10px;*/
}

.red-font {
  color: var(--color-red);
}
.text-font p{
  color: var(--color-text-back);
}

/*Align*/
.inline-block{
  display: inline-block;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex-between-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.align-center {
  display: flex;
  align-items: center;
}

.mg-auto{
  margin: auto;
}

button {
  cursor: pointer;
  background-color: transparent;
  /*box-sizing: border-box;
  color: white;  */
  margin: 20px 0px;
}

input,
button,
textarea{
  border: none;
  outline: none;
}

/*Bordes*/
.border-yellow{
  border: 5px var(--color-yellow) solid;
}
.border-orange{
  border: 5px var(--color-orange) solid;
}
.border-red{
  border: 5px var(--color-red) solid;
}
.border-green{
  border: 5px var(--color-green) solid;
}
.border-blue{
  border: 5px var(--color-blue) solid;
}
.border-purple{
  border: 5px var(--color-purple) solid;
}
.bg-font{
  background-color: var(--color-back);
  color:var(--color-background);
  padding: 10px;
}

/****NUEVO*****/

/*1. Authetification*/
/*1.1. LayoutAuth*/

.layout-auth{
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  padding: 0 50px;
  /*display: flex;
  align-items: center;*/
  justify-content: space-evenly;
}

.logo-flag-container{
  display: grid;
  place-items: center;
  /*padding: 124px 0;*/
  margin: 0 60px 0 0;
}

.logo-flag{
  width: 270px;
  height: 165px;
}

span,
.delete-alert button
/*.name-google */
{
  text-align: center;
  color: var(--color-white);
}

.welcome-container {
  /* flex-direction: column;
  display: flex;*/
  padding: 30px;
}

/****************************************************************************************************/
/*1.2. Register*/

.register-username{
  padding: 10px ;
  background-color: var(--color-background);
  /*color: var(--color-white);*/
  }

.register-username::placeholder{
  color: var(--color-text-back);
}

.radio-container input{
    appearance: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

.radio-container input:hover,
.radio-container input:checked {
      outline: 4px solid var(--color-white);
  }

.register-button{
  /*background-color: var(--color-green);*/
  padding: 10px;
  /*font-family: 'Press Start 2P', cursive;
  letter-spacing: 2px;*/
  
  /*
  align-items: center;
  width: 250px;
  font-size: 16px;*/
}

input[value=red],
.bg-red {
  background-color: var(--color-red);
}
input[value=yellow],
.bg-yellow {
  background-color: var(--color-yellow);
}
input[value=orange],
.bg-orange {
  background-color: var(--color-orange);
}
input[value=blue],
.bg-blue {
  background-color: #0096CE;
}
input[value=purple],
.bg-purple {
  background-color: var(--color-purple);
}
input[value=green],
.bg-green,
.button:hover,
.button-post:hover,
.register-button {
  background-color: #00DA76;
  ;
}

.welcome-button {
  background-color: #4285f4;
  border-radius: 4px;
  width: 350px;
  /*border: none;
  margin-top: 20px;
  margin-bottom: 20px;*/
  /*margin: 20px 0;
  /*display: flex;
  align-items: center;*/
}

.welcome-button:hover {
  cursor: pointer;
}

.logoGoogle {
  background-color: var(--color-white);
  padding: 5px;
  border-radius: 4px 0 0px 4px;
}

.welcome-button-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  align-items: center;
  width: 90%;
}

/***********************************************************************************************/
/*3. Tweet********/
/*3.1. DeleteAlert*/

.alert {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  /*background-color: white;*/
}

.delete-alert {
  /*flex-direction: column;
  display: flex;*/
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.delete-alert button{
  width: 60px;
}

/*3.2. HeaderFeed******************************************************/

.header {
  /*display: flex;
  align-items: center;*/
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 5px;
  background-color: var(--color-back);
}

.header-photo{
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.logo-flag-distance{
  margin: 0px 100px 0px 100px;
}

.logo-flag-min {
  width: 50px;
  /*padding: 5px;*/
}
.logo-DevUnited {
  width: 160px;
}

.logo-header-container{
  height: 100%;
}

/*3.3. HeaderProfile*/
.pd-1{
  margin: 0px 350px 0px 0px;
}

.arrowback{
  margin-right:20px;
}

.header-username {
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px;
}

/*.font-press-2p {
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
}*/

/*3.4. ListTweets**************/

.list-tweets {
  /* flex-direction: column;
  display: flex;*/
  max-width: 60%;
  min-width: 350px;
}

/*3.5. Tweet*************/

.tweet-container {
  display: flex;
  padding: 20px 10px;
  border-bottom: 2px var(--color-text-back) solid;
  width: 100%;
}
.img-user, 
.tweet-user-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 20px 0 0px;
}

.img-user-span{
  padding: 6px;
  border-radius: 0 0 0 5px;
  margin: 0 auto 10px auto;
}

.tweet-info {
  /*flex-direction: column;
  display: flex;*/
  flex: 2;
  padding: 10px;
}

.tweet-header .button {
      height: 15px;
      width: 15px;
  }

.user-name {
    color: var(--color-background);
    padding: 4px;
    border-radius: 0 0 0 5px;
    /*font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;*/
}

.trash-button {
    height: 15px;
    width: 15px;
    margin: 5px;
}

.tweet-text {
  padding: 5px 0 5px;
}

.tweet-like {
  /*display: flex;
  align-items: center;*/
  padding: 10px;

}
.tweet-like .button {
  width: 20px;
  height: 20px;

}
.tweet-like img{
  width: 30px;
  height: 30px;
}
.tweet-like span{
  padding: 5px;
}

/*3.6. TweetForm**********/

.main-form{
  padding: 10px 0px 0px 0px;
  display: flex;
  background-color: var(--color-background);
  border-bottom: 2px var(--color-text-back) solid;
}

.form-img-cointener {
  display: flex;
}

.form-text-area {
  width: 100%;
  padding: 5px;
  height: 120px;
  font-size: 20px;
  background-color: var(--color-back);
  color: var(--color-text-back);
}
.form-text-area::placeholder{
  color: var(--color-text-back);
}

.form-counter{
  padding: 5px 0 0 0;
}

.form span, 
.text-font p,
.delete-alert p {
  font-size: 14px;
}
/*.button:hover,
.button-post:hover {
    background-color: var(--color-yellow);
}*/

.button-post{
  margin: 10px 0px 10px 320px;
}

/*3.7. UserInfo*/

.user-container {
    padding-top: 5px;
    background-color: var(--color-background);
    border-bottom: 2px var(--color-line) solid;
    width: 100%;
    /*height: 300px;*/
}

.pad_10 {
    /*display: flex;
    flex-direction: column;*/
    padding: 10px 0px;
}


.img-user-big {
  width: 120px;
  height: 120px;
  margin: 10px auto;
}

/*3.8. LogOutButton*/
.button-logout{
  height: 30px;
  padding: 0 5px;
  background-color: var(--color-red);
  /*letter-spacing: 2px;
  color: var(--color-background);*/
}

/*3.9. Tab*/
.tab-container {
  max-width: 500px;
  /*height: 35px;*/
  margin: 10px auto 0;
}

.tab-container 
ul,
li,
a {
  height: 100%;
  }

.tab-container li {
  width: 100%;
  display: flex;
}

.tab-container button {
  /*height: 100%;*/
  width: 100%;
  /*letter-spacing:2px;*/
  color: var(--color-text-back);
}

/*4. CustomLink*/
.link {
  width: 50%;
  /*background-color: var(--color-background);*/
}

.active {
  background-color: var(--color-text-back);
}
.active button,
.delete-alert p,
.button-logout p {
  color: var(--color-back);
}

/*4. Loader*/
.loader-img{
  height: 100%;
  width: 100%;
}
